.thankyou-section {
    position: relative;
    background-color: #f8f1eb;
    text-align: center;
    padding: 80px 20px 100px;
    overflow: hidden;
  }
  
  .thankyou-title {
    font-size: 42px;
    font-weight: 400;
    font-style: italic;
    color: #5a4a41;
    margin-bottom: 20px;
  }
  
  .thankyou-subtext {
    font-size: 18px;
    color: #5a4a41;
    margin-bottom: 10px;
  }
  
  .thankyou-description {
    font-size: 16px;
    color: #5a4a41;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
  }
  
  .thankyou-image img {
    width: 100%;
    max-width: 750px;
    border-radius: 22px;
    display: block;
    margin: 0 auto;
  }
  
  /* Bierne */
  .bee {
    position: absolute;
    opacity: 0.7;
    pointer-events: none;
  }
  
  /* Venstre bi */
  .bivenstre {
    left: -40px;
    top: 45%;
    width: 240px;
  }
  
  /* Højre bi */
  .bihøjre {
    right: -40px;
    bottom: 10%;
    width: 240px;
  }